<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="component.csz.com.componentsample.main">
    <application android:theme="@style/AppTheme">
        <activity
            android:name=".MainBootActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
